@-webkit-keyframes sheen-e {
  0% {
    -webkit-transform: skewX(-45deg) translateX(0);
            transform: skewX(-45deg) translateX(0); }
  20% {
    -webkit-transform: skewX(-45deg) translateX(2000px);
            transform: skewX(-45deg) translateX(2000px); }
  40% {
    -webkit-transform: skewX(-45deg) translateX(0);
            transform: skewX(-45deg) translateX(0); }
  100% {
    -webkit-transform: skewX(-45deg) translateX(0);
            transform: skewX(-45deg) translateX(0); } }

@keyframes sheen-e {
  0% {
    -webkit-transform: skewX(-45deg) translateX(0);
            transform: skewX(-45deg) translateX(0); }
  20% {
    -webkit-transform: skewX(-45deg) translateX(2000px);
            transform: skewX(-45deg) translateX(2000px); }
  40% {
    -webkit-transform: skewX(-45deg) translateX(0);
            transform: skewX(-45deg) translateX(0); }
  100% {
    -webkit-transform: skewX(-45deg) translateX(0);
            transform: skewX(-45deg) translateX(0); } }

.express__main .express-main-bg-1 {
  background-image: url("../img/d-main-bg-1.png");
  background-repeat: no-repeat;
  background-position: 25% 50%; }

.express__main .express-main-bg-2 {
  background-image: url("../img/d-main-bg-2.png");
  background-repeat: no-repeat;
  background-position: 55% 50%; }
  @media (max-width: 992px) {
    .express__main .express-main-bg-2 {
      background-image: none; } }

.express__main .express-main-bg-3 {
  background-image: url("../img/e-ret-main.png");
  background-repeat: no-repeat;
  background-position: 75% 50%; }
  @media (min-width: 1440px) {
    .express__main .express-main-bg-3 {
      background-size: 50%; } }
  @media (min-width: 1600px) {
    .express__main .express-main-bg-3 {
      background-size: 38%; } }
  @media (max-width: 1200px) {
    .express__main .express-main-bg-3 {
      background-size: 60%; } }
  @media (max-width: 992px) {
    .express__main .express-main-bg-3 {
      background-image: none; } }

.express__main .express-main-bg-4 {
  background-image: url("../img/d-bg-main-4.png");
  background-repeat: no-repeat;
  background-position: 70% 50%;
  position: relative;
  width: 100%;
  overflow: hidden; }
  .express__main .express-main-bg-4:before {
    content: "";
    background-color: rgba(255, 255, 255, 0.2);
    height: 100%;
    width: 150px;
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    -webkit-transition: all 0.5s ease-in-out;
    transition: all 0.5s ease-in-out;
    -webkit-animation-duration: 6s;
            animation-duration: 6s;
    -webkit-animation-iteration-count: infinite;
            animation-iteration-count: infinite;
    -webkit-animation-name: sheen-e;
            animation-name: sheen-e;
    -webkit-animation-timing-function: linear;
            animation-timing-function: linear; }
  @media (max-width: 992px) {
    .express__main .express-main-bg-4 {
      background-image: none; } }

@media (max-width: 992px) {
  .express__main .express-main-bg-5 {
    background-image: none; } }

.express__main .express-main-bg-5:after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  min-height: 1200px;
  background-image: url("../img/d-bg-main-5.png");
  background-repeat: no-repeat;
  background-position: 50% 38%;
  -webkit-animation-duration: 8s;
          animation-duration: 8s;
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
  -webkit-animation-name: rotate-1;
          animation-name: rotate-1;
  -webkit-animation-timing-function: linear;
          animation-timing-function: linear;
  opacity: 0.8; }

@-webkit-keyframes rotate-1 {
  0% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg); }
  50% {
    -webkit-transform: rotate(20deg);
            transform: rotate(20deg); }
  100% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg); } }

@keyframes rotate-1 {
  0% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg); }
  50% {
    -webkit-transform: rotate(20deg);
            transform: rotate(20deg); }
  100% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg); } }
  @media (max-width: 992px) {
    .express__main .express-main-bg-5:after {
      background-image: none; } }

.express__main .express-main-bg-6 {
  background-image: url("../img/d-bg-main-6.png");
  background-repeat: no-repeat;
  background-position: 40% 60%;
  padding-bottom: 70px; }
  @media (min-width: 992px) {
    .express__main .express-main-bg-6 {
      padding-bottom: 150px;
      padding-top: 85px; } }

.express__main h1 {
  color: #2b4258;
  font-size: 55px;
  max-width: 380px;
  margin-bottom: 35px; }
  @media (max-width: 1600px) {
    .express__main h1 {
      font-size: 50px; } }
  @media (max-width: 1440px) {
    .express__main h1 {
      font-size: 40px; } }
  @media (max-width: 1200px) {
    .express__main h1 {
      font-size: 35px; } }

.express__main .dm-subtitle {
  color: #091014;
  max-width: 480px;
  font-weight: 300;
  margin-bottom: 25px; }

.express__main .row p:first-child {
  font-weight: 500;
  color: #2b4258;
  max-width: 350px; }

.express__main .row p:last-child {
  font-weight: 300;
  color: #2b4258;
  max-width: 350px; }

.express__erbilight {
  background-image: url("../img/erbilight-bg.png");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: top; }
  @media (min-width: 576px) {
    .express__erbilight br {
      display: none; } }
  .express__erbilight .col-xl-3 img {
    width: 100%;
    position: relative;
    bottom: 25px;
    max-width: 270px; }
  .express__erbilight .col-xl-9 p {
    color: #ffffff;
    padding-left: 30px;
    padding-bottom: 50px;
    max-width: 450px;
    font-size: 20px;
    line-height: 40px; }
    @media (max-width: 576px) {
      .express__erbilight .col-xl-9 p {
        font-size: 16px; } }
    .express__erbilight .col-xl-9 p span {
      cursor: pointer;
      border: 1px solid #7fa1c2;
      padding: 5px 5px; }
      @media (min-width: 576px) {
        .express__erbilight .col-xl-9 p span {
          margin-left: 10px; } }
      .express__erbilight .col-xl-9 p span:hover {
        background-color: #7fa1c2; }

.express__price .col-md-6 {
  margin-top: 30px; }

@media (max-width: 576px) {
  .express__price .card__options {
    height: auto !important; } }

.express__lazer .lazer__title {
  padding: 60px 0 35px; }
  .express__lazer .lazer__title .lazer__title-before {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center; }
    .express__lazer .lazer__title .lazer__title-before .title-before__line {
      background-color: #b20f10;
      height: 2px;
      width: 40px;
      margin-right: 5px; }
    .express__lazer .lazer__title .lazer__title-before span {
      color: #192837;
      text-transform: uppercase;
      font-weight: 300; }
  .express__lazer .lazer__title h3 {
    color: #2b4258;
    font-size: 50px;
    max-width: 300px; }
    @media (max-width: 576px) {
      .express__lazer .lazer__title h3 {
        font-size: 30px; } }

.express__lazer .lazer__equipment h6 {
  text-align: center;
  margin-top: 20px;
  font-weight: 700;
  color: #2b4258; }

.express__lazer .lazer__equipment p {
  text-align: center;
  font-weight: 300;
  color: #2b4258; }

.express__lazer .lazer__equipment .lazer__img-blue {
  background-color: #14426e; }

.express__lazer .lazer__equipment .lazer__img-red {
  background-color: #b20f10; }

.express__lazer .lazer__equipment .lazer__bg-img {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center; }

.express__lazer .lazer__equipment .lazer__img {
  width: 200px;
  height: 200px;
  border-radius: 50%;
  padding-top: 10px;
  padding-left: 10px; }
  .express__lazer .lazer__equipment .lazer__img img {
    width: 100%; }

.express__lazer .lazer__advantages {
  border: 4px solid #d4d8dc;
  padding: 30px 50px; }
  @media (max-width: 576px) {
    .express__lazer .lazer__advantages {
      padding: 15px; }
      .express__lazer .lazer__advantages img {
        width: 75px;
        margin-top: 15px; } }
  .express__lazer .lazer__advantages h4 {
    margin-bottom: 35px;
    color: #2b4258; }
  .express__lazer .lazer__advantages p {
    color: #2b4258; }
  .express__lazer .lazer__advantages .col-5 {
    text-align: center; }
  .express__lazer .lazer__advantages .col-7 {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    font-weight: 700; }

#erilightModal .modal-body {
  padding: 15px 35px; }

#erilightModal h5 {
  text-align: left;
  color: #14426e;
  font-weight: 500; }

#erilightModal img {
  width: 100%; }

@media (max-width: 992px) {
  #erilightModal img {
    width: 100%;
    max-width: 400px;
    margin: 20px 0; } }

#erilightModal p {
  margin-top: 15px; }

#erilightModal .modal--list {
  margin-top: 25px; }
  #erilightModal .modal--list ul {
    list-style: url("../img/li-lazer-light.png"); }
    #erilightModal .modal--list ul li {
      padding-left: 10px; }
